/*
  Gold: #c7b184;
  Blue: #b2d9db;

  #f0d78c
  #fcfafa
  #64c4ed
  #4f81c7

  #34FFFF
  #304559

  #fcd073
*/


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px  */
  font-family: 'Prociono', serif, sans-serif;
}

body {
  box-sizing: border-box;
}

.win {
  height: 50%;
  width: 60%;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win__Container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.win__Logo {
  height: 60%;
  width: 100%;
  font-size: 4rem;
  color: #fcd073;;
  border: 1px solid #c7b184;
  border-radius: 5px;

  background-image: url("/assets/images/Victory.jpeg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.win__Buttons {
  height: 40%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.win__Buttons-back,
.win__Buttons-play {
  color: #c7b184;
  font-size: 3rem;
  height: 30%;
  width: 30%;

  border: 1px solid #c7b184;
  border-radius: 5px;
  background-color: rgba(48, 69, 89, 0.15);
  transition: all 0.2s ease;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.win__Buttons-back:hover,
.win__Buttons-play:hover {
  background-color: rgba(52, 255, 255, 0.25);
  box-shadow: 0px 0px 5px 3px #c7b184;
  transform: scale(1.1);
}

.win__Buttons-back:active,
.win__Buttons-play:active {
  transform: scale(1);
}

.main {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("/assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__Container {
  height: 95%;
  width: 95%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__Header_Container {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.main__Header {
  height: 90%;
  width: 90%;
  font-size: 6rem;
  color: #fcd073;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c7b184;
  border-radius: 5px;
  background-color:rgba(48, 69, 89, 0.15);
  transition: all 0.2s ease;
}

.main__Header:hover,
.main__Aside-Stats:hover {
  color: #fff;
  text-shadow: #fcd073 0px 0px 0px, #fcd073 0px 0px 5px, #fcd073 0px 0px 10px, #fcd073 0px 0px 15px, #fcd073 0px 0px 25px, #fcd073 0px 0px 35px, #fcd073 0px 0px 45px, #fcd073 0px 0px 60px;
  box-shadow: 0px 0px 5px 3px #fcd073;;
  /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c7b184 0px 0px 20px, #c7b184 0px 0px 30px, #c7b184 0px 0px 40px, #c7b184 0px 0px 50px, #c7b184 0px 0px 75px; */
  opacity: 0.95;
}

.main__Content {
  height: 90%;
  width: 100%;
  display: flex;
}

.main__Aside_Container {
  width: 20%;
  height: 100%;

  display: flex;
  align-items: center;
}

.main__Aside_Sub_Container {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.main__Aside_Sub_Container > * {
  height: 20%;
  width: 90%;
}

.main__Aside-Stats   {
  height: 10%;
  font-size: 4rem;
  color: #fcd073;
  border: 1px solid #c7b184;
  border-radius: 5px;
  background-color: rgba(48, 69, 89, 0.15);


  display: flex;
  justify-content: center;
  align-items: center;
}

.main__Aside-Games-Text,
.main__Aside-Attempts-Text,
.main__Aside-Accuracy-Text {
  height: 50%;
  font-size: 2.5rem;
  color: #fcd073;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__Aside-Games-Count,
.main__Aside-Attempts-Count,
.main__Aside-Accuracy-Count {
  height: 50%;
  font-size: 3rem;
  color: rgba(52, 255, 255, 0.75);


  display: flex;
  justify-content: center;
  align-items: center;
}

.main__Game_Container {
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.main__Card_Container {
  height: 97.5%;
  width: 95%;
}

.main__Card_Row {
  height: 33.33%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__Card {
  width: 15%;
  height: 90%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  transition: all 0.2s ease;
}

.main__Card-back {
  background-image: url("/assets/images/card-back.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 5px;
  transition: all 0.2s ease;
  border: none;
  opacity: 1;
  box-shadow: 0px 0px 1px 1px #c7b184;

  cursor: pointer;

  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 2;
}

.main__Card-back:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 3px #fcd073;;
}

.main__Card-back:active {
  transform: scale(1);
}


.main__Card-front {
  height: 100%;
  background-size: cover;
  background-position: top center;
  border-radius: 5px;

  cursor: pointer;

  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;

  transition: all 0.2s ease;
}

.invisible {
  opacity: 0;
}

.blur {
  filter: blur(5px);
}

.zIndexUp {
  z-index: 200;
}

.show {
  opacity: 1;
}

.matching {
  box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
  transform: scale(0.75)
}

.indicatorFadeIn {
  animation: fadeIn 2s linear;
}

.indicatorPentaKill {
  animation: pentaKill 3s cubic-bezier(1,0,0,1);
}

.addGlow {
  box-shadow: 0px 0px 7px 5px #fcd073;
}


/* CARD CLASSES */

.aatrox {
  background-image: url('/assets/images/Aatrox.png');
}

.ahri {
  background-image: url('/assets/images/Ahri.png');
}

.azir {
  background-image: url('/assets/images/Azir.png');
}

.braum {
  background-image: url('/assets/images/Braum.png');
}

.yasuo {
  background-image: url('/assets/images/Yasuo.png');
}

.diana {
  background-image: url('/assets/images/Diana.png');
}

.elise {
  background-image: url('/assets/images/Elise.png');
}

.jinx {
  background-image: url('/assets/images/Jinx.png');
}

.zed {
  background-image: url('/assets/images/Zed.png');
}


/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pentaKill {
  0% {
    transform: scale(0.75);
    z-index: 0;
  }
  50% {
    transform: scale(2);
    z-index: 200;
  }
  100% {
    transform: scale(0.75);
    z-index: 0;
  }
}
